<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="com.mkyong.web.model.Doctor" />
		<mapping class="com.mkyong.web.model.Client" />
		<mapping class="com.mkyong.web.model.Pet" />
		<mapping class="com.mkyong.web.model.Appointment" />
		<mapping class="com.mkyong.web.model.SystemUser" />
		<mapping class="com.mkyong.web.model.Admin" />
	</session-factory>
</hibernate-configuration>